<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script type = "text/javascript">
        $(function () {
        $('#container').highcharts({
            chart: {type: 'column'},
            
            title: {text: 'University of kashmir'},
            
            subtitle: {text: 'Monthly student average'},
            
            xAxis: {categories: ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']},
            

            yAxis: {min: 0,max: 100,title: {text: '%age of student'}},
            
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span> <table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },

            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Amir Zargar',
                data: [49.9, 71.5, 66.4, 72.2, 84.0, 96.0, 75.6, 77.5, 90.4, 92.1, 95.6, 99.4]

            }, {
                name: 'Yaseen Dar',
                data: [83.6, 78.8, 98.5, 93.4, 96.0, 84.5, 65.0, 74.3, 67.2, 83.5, 93.6, 96.3]

            }, {
                name: 'Shahid',
                data: [48.9, 38.8, 39.3, 41.4, 97.0, 48.3, 59.0, 99.6, 52.4, 65.2, 59.3, 91.2]

            }, {
                name: 'Amir bhatt',
                data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

            }]
        });
    }); 
        </script>
    </head>

    <body>
        <div id="container" style="width:50%; height:400px; float:right;">
        </div>

    </body>

</html>